@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --footer-h: 4.5rem;
    --header-h: 4rem;
    --main-h: calc(100vh - var(--footer-h) - var(--header-h));
}

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    font-size: large;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

::-webkit-scrollbar {
    width: 0.3rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    @apply rounded-full bg-gray-300 hover:bg-gray-400;
}

@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb {
        @apply rounded-full bg-gray-600 hover:bg-gray-800;
    }
}
